//
   Created by Lollypop on 04.11.2015.

extends layout
block content
    script(src='/javascripts/jquery-1.11.3.js')
    script(src='/javascripts/post.js')
    div.mainblock
        div.post
            form(enctype='multipart/form-data')
                div.category
                    h4 Enter category name
                    input.newcategory(type='text' name ='category' value=post ? post[0].category : '')
                div.posttitle
                    h4 Enter Title
                    input.newposttitle(type='text' name='title' value=post ? post[0].title : '')
                div.body
                    h4 Input main text
                    textarea.newpostbody(name='body')=post ? post[0].body : ''
                div.short
                    h4 Input short text
                    textarea.excerption(name='excerption')=post ? post[0].excerption : ''
                div.image
                    h4 Add image to post
                        input.newimage(type='file' name='image'  accept='image/*')
            div.links
                a(href='/posts') All posts
                label.addpost(id=post ? post[0].id : '') Add post
                label.update(id=post ? post[0].id : '') Update post
                label.delete(id=post ? post[0].id : '') Delete post
            div.alert
