//
   Created by Lollypop on 04.11.2015.

extends layout
block content
    script(src='/javascripts/jquery-1.11.3.js')
    script(src='/javascripts/post.js')
    div.mainblock
        div.post
            div.posttitle
                h1=post.title
            div.date
                h4=post.date
                div.image
                    image(src=post.image ? post.image.path : '')
            div.body
                p=post.body
            div.links
                a(href='/posts') All posts
                a(href='/posts/create?id=' + post.id) Updete post
                label.delete(id=postid) Delete post
            div.alert
